Flask==2.1.2
Flask-Babel==2.0.0
Flask-Dance==6.0.0
Flask-Login==0.6.1
Flask-Migrate==3.1.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
Jinja2==3.1.2
oauthlib==3.2.0
requests==2.27.1
requests-oauthlib==1.3.1
SQLAlchemy==1.4.37
urllib3==1.26.9
URLObject==2.4.3
Werkzeug==2.1.2
WTForms==3.0.1
